**/__pycache__/
*.pyc
.venv/

# Environment variables
.env

# Firebase secrets
serviceAccountKey.json

# Frontend
mobile/node_modules/
mobile/.env
mobile/.expo/
mobile/google-services.json

# Node
node_modules/

# Expo
.expo/

# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/src/core/secrets/
backend/src/core/secrets/serviceAccountKey.json


# ML
#ml/alkasense_dataset/
*.tflite
ml/.env
ml/__pycache__/


# macOS
.DS_Storebackend/uploads/
/backend/uploads/
