**/__pycache__/
*.pyc

# Frontend
mobile/node_modules/
mobile/.env
mobile/.expo/
mobile/google-services.json

# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/src/core/secrets/

# ML
ml/dataset/
*.tflite